$red-color: #d72323;
$darker-red-color: #ad0000;
$text-color: #fff;
$yellow-color: #fff98c;
$dark-yellow-color: #ffd615;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
$mobile: 800px;
$badge-font-size:                   .6em;
